body{
  background-color: rgb(84, 190, 222);
}

.App {
  text-align: center;
}

.heading{
  background-color: #282c34;
  color: white;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.form{
  padding: 40px;
  width: 60%;
  margin: 50px auto;
  background-color: #212b40;
  border-radius: 10px;

}

.form input[type=text],
input[type=password]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button{
  padding: 12px 20px;
  margin: 20px 0 0 0;
  width: 50%;
  border-radius: 5px;
  background-color: #4b8081;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

.modal{
  background-color: #212b40;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}
